.todo-list {
  background:transparent;
  border-radius:2px;
  border:none;
  margin:15px auto;
  max-width:400px;
  text-align:center;
    &.no-todos {
      background:transparent;
      font-size:12px;
    }
    > li {
      align-items:center;
      background:#fff;
      color:#000;
      cursor:pointer;
      display:flex;
      font-family:"Montserrat", Arial, sans-serif;
      justify-content:space-between;
      margin:3px 0px;
      max-width:400px;
      padding:5px 10px;
        &.editing {
          background:#444c55;
          margin:0px;
          padding:0px;
        }
        &.completed {
          background:#32ae85;
          text-decoration:line-through;
        }
        > span {
          vertical-align:middle;
        }
    }
}
